<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="copyright">© 2026 aone Co., Ltd. All rights reserved</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="footer-links">
                    <span>Family Best Lifestyle Company</span>
                    <span class="separator">|</span>
                    <a href="#">Privacy & Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>
